#nopal {
    background: url("/static/img/indah.jpg");
    height:845px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    position: relative;
}